[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
roborio_escrow = "F8TkJN1QUg3yrGPgVm5aT88HyRY7z6tyakjRRuF1MfPL"

[programs.mainnet]
roborio_escrow = "RoboEscrowXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
